@model IEnumerable<DellChallenge.D2.Web.Models.ProductModel>

@{
    ViewData["Title"] = "View";
}
<h4>All Products</h4>
<hr />
@if (Model.Count() == 0)
{
    <div class="row">
        <div class="col-md-12">
            No items to display!
        </div>
    </div>
}
else
{
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-6">
                @item.Name - @item.Category - @Html.ActionLink("Update", "Update", "Product", new { id = item.Id }, null) - @Html.ActionLink("Delete", "Delete", "Product", new { id = item.Id}, null)
            </div>
        </div>
    }
}

